.idea
scrap.ipynb
*ipynb_checkpoints
Recommender Systems/Project_1/beer_reviews.csv
*.pkl
*.gdf
*logs.txt

Recommender Systems/Project_2/reviews
Recommender Systems/Project_1/beer_reviews_text.csv
Recommender Systems/Project_2/aggregated_reviews_small.csv
Recommender Systems/Project_2/aggregated_reviews_test.csv
Recommender Systems/Project_2/beer_reviews.csv